/*inpage all banner css images*/
.services_bg{background:url(../images/serbg.jpg); background-repeat:no-repeat; background-size:cover; background-position:center;}
.about-bg{background:url(../images/aboutbg.jpg); background-repeat:no-repeat; background-size:cover; background-position:center;}
.contact-bg{background:url(../images/contactbg.jpg); background-repeat:no-repeat; background-size:cover; background-position:center;}
.loc_quote_wrapper{background: #f7f7f7; margin: 30px 0;}
.online-bg{background:url(../images/onlinebg.jpg); background-repeat:no-repeat; background-size:cover; background-position:center;}

.indexaboutbg{background:url(../images/indexaboutbg.jpg) no-repeat; background-position:right;}
.title-name{text-align: left!important; font-size: 32px; font-weight: normal;}

.top-header{width: 100%; height:46px; background: #0c82a6; color: #fff; line-height: 46px;}
.top-header span{color: #fff; padding-right:20px;}
.top-header a{color: #fff; text-decoration: none;}
.top-header i{padding-right: 10px;}

.auto-header{max-width:90%; margin:0 auto;}
.nav{width:100%; background: #fff; border: 1px #fff solid;}
.logo{float:left;  margin: 20px 0; border: 0px red solid; position: relative; z-index: 999}
.logo img{width: 278px;}
.iconright{float: right; margin-right: -40px;}
	products_more
/*search-css*/
#goodcover{display:none;position:absolute;top:0%;left:0%;width:100%;height:5000px;background-color:black;z-index:99998;-moz-opacity:0.8;opacity:0.70;filter:alpha(opacity=80);margin-top:-45px;overflow:hidden;}
#code{width:1000px;height:auto;overflow:hidden;padding:10px;position:absolute;display:none;left:45%;z-index:99999;text-align:center;}
.close1{width:100%;height:60px;}
#closebt{float:right;}
.close1 a{text-decoration: none;}
#closebt:before {
    content: "\f00d";
    font-family: 'FontAwesome';
    cursor: pointer;
    color: #fff; 
	display: block;
	text-align:center;
	font-size: 18px;
	border: 2px #fff solid;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
/*input*/
.searchtxt{width:100%; height:auto; overflow:hidden; margin:0 auto;}
.search-input{border:0;outline:none;font-size:16px;height:46px;padding-left:20px; min-width: 50%;}
.searchtxt select{height:46px; border:0; font-size:16px; color:444; outline:none; padding:0 10px;}
.searchtxt .btnx{padding:15px 40px;clear:both;color:#fff;font-size:16px;text-decoration:none;background-color:#0c82a6;border:0px;outline:none; cursor: pointer;}
.searchtxt .btnx:hover {color:#FFF; transition: background-color .3s; background:#ae4eff;}

.submit_search a{text-decoration:none; float:right;  position:relative; cursor:pointer;margin-top: 35px; z-index: 999; color: #0c82a6;}
.submit_search a:before{content:"\f002";font-family:FontAwesome;font-size:22px;color:#0c82a6; text-align:center; }
/*.submit_search a:hover{background: #007aff;transition:background-color .3s;}*/
.cart-top a{text-decoration:none; float:right;  position:relative; cursor:pointer;margin-top: 35px; z-index: 999; color: #0c82a6; margin-left: 10px;}
.cart-top a:before{content:"\f217";font-family:FontAwesome;font-size:22px;color:#0c82a6; text-align:center; }

.section_title{margin:50px auto; text-align:center;}
.section_title h2{font-size:26px; font-weight: normal; margin: 0; padding-top: 20px;}
.section_title hr{height:7px;width:70px;text-align:center;position:relative;margin:0 auto;border:0;background:url(../images/hrbg.png); background-repeat:no-repeat; background-position:center;}
.section_title span{color: #0c82a6; text-transform: uppercase; font-size: 20px;}

	

/*index products*/

.index_container p{line-height:26px; font-size:18px;}
.index_container h2{color: #000; text-align: center; font-size: 36px; padding-bottom: 0; margin-bottom: 20px; line-height: 42px;}
.index_container p a{color:var(--green-color); text-decoration: none;}
.index_container p a:hover{ color: #f84949;}

.index_container h3 a{ color:var(--green-color); text-decoration: none;}
.index_container h3 a:hover{ color: #f84949;}
	
.contagion-block-one{
	position: relative;
	border: 10px solid #fff;
	padding: 10%;
	margin: 0 auto;
	box-shadow: 4px 9px 16px 1px rgba(0, 0, 0, 0.04), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	margin-bottom: 30px;
	margin-top: 15px;
	min-height: 200px;
}


.contagion-block-one h4{
    font-size: 20px;
    font-weight: 700; 
	text-align: center;
	line-height: 28px;
	color: #fff;
    
}

.contagion-block-one:hover {
    box-shadow: 4px 9px 16px 1px rgb(0, 0, 0, 0.2), -2px 0px 5px 1px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}



/**services css index**/

.main-solution-mess
{
    position: relative;
    display: grid;
    margin: 40px 0;
    justify-content: space-between;
    grid-gap: 30px;
}
.main-solution-mess>li
{
    position:relative;
}


@media screen and (min-width:1081px) {
    .main-solution-mess
    {
        grid-template-columns: repeat(auto-fill,31%); 
    }
}
.main-solution-mess>li
{
    border: 1px solid rgba(212,212,212,1);
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
    display: block;
    height: 100%;
}
.main-solution-mess>li:hover
{
    border: 1px solid rgba(255,255,255,1);
    box-shadow: 1px 2px 8px 6px rgb(240, 240, 238);
}
.main-solution-img
{
    position: relative;
    overflow: hidden;
}
.main-solution-img>img
{
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
    vertical-align: top;
    width: 100%;
}
.main-solution-mess>li:hover img
{
    -webkit-transform: rotateZ(20deg);
    -moz-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    -o-transform: rotateZ(20deg);
    transform: rotateZ(2deg) scale3d(1.2,1.2,1);
}
.main-solution-title h3
{
    color:rgba(22, 50, 111, 0.92);
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
    font-size: 20px;
    margin-top: 20px;
}
.main-solution-mess>li:hover h3 a
{
    color: rgb(138, 204, 224);
}
.main-solution-title
{
    margin: 10px 20px;
}
.main-solution-title h3,.main-solution-title p
{
    position: relative;
}
.main-solution-title p
{
    color:rgba(61,61,61,1);

    padding: 5px 0;
    border-top: 1px solid rgba(212,212,212,1);
}
.main-solution-title li>a
{
    color:#f47721; 

}
.main-solution-title li>a:hover
{
    color: #f47721; text-decoration: underline;
}
.main-solution-title li{list-style: none; margin: auto; padding: 5px 0;}
.main-solution-title ul{margin: 0; padding: 0;}


.loc_quote_wrapper > .index_container >.row{height: auto; overflow: hidden; margin: 20px 0;}
.loc_quote_wrapper > .index_container >.row > .col-md-3 img{max-width: 100%; height: 200px;}
.loc_quote_wrapper > .index_container >.row > .col-md-9{ line-height: 26px; font-size: 18px;display: flex; flex-direction:column;justify-content: center;  align-items:center;min-height: 200px;}


.index-items span{color: #13a2b7; font-size: 24px;}
.index-items h3{font-size: 28px;}

.index-items .col-md-3{ position:relative; padding:0; min-height:220px; color:#fff; background-repeat:no-repeat; background-size:cover; margin: 10px;  width: 18.8%;}
.index-items .col-md-3 .item-blue-bg  { position:absolute; left:0; top:0; width:100%; height:100%; background-color:#000; opacity:0.3; transition:all ease .5s;}
.index-items .col-md-3 .item-yellow-bg{ position:absolute; left:0; bottom:0; width:100%; height:100%; background-color:#ffffff; opacity:0; transition:all ease 1s;}
.index-items .col-md-3 .items-content{position:absolute; z-index:99; top:0; width:100%; height:100%;}
.index-items .col-md-3 .items-content h2{ width:90%; margin:10px auto; text-align:center; font-size:18px; line-height:28px; bottom: 10px; color: #fff; font-weight: normal; position: absolute;}
.index-items .col-md-3 .items-content h2 a{ color:#fff;}
.index-items .col-md-3:hover .item-yellow-bg{ opacity:0.4;}

.index-items-0 .col-md-3{ background-image:url(../images/Food-safety-text-kits.jpg); }
.index-items-1 .col-md-3{ background-image:url(../images/Animal-disease-text-kits.jpg); }
.index-items-2 .col-md-3{ background-image:url(../images/Environmental-protection-text-Kits.jpg); }
.index-items-3 .col-md-3{ background-image:url(../images/Plant-disease-diagnosis-text-Kits.jpg); }
.index-items-4 .col-md-3{ background-image:url(../images/In-vitro-diagnostic-test-Kits.jpg); }


.productlist{border: 1px #ececec solid; padding: 20px; text-align: center;}
.productlist-img{text-align: center;}
.productlist h3 a{color: #0c82a6;}
.productlisttitle{background: #f7f7f7; text-align: center; margin: 20px 0; padding: 20px; display: block; font-size: 28px;}


.container{width:100%; height:auto; overflow:hidden; position:relative; padding: 40px 0;}
.container h4{font-size: 24px; margin: 0; padding-bottom: 20px;}
.container span{font-size: 18px;}


/*contact Us index*/
.contact_bottom{width:100%; height:auto; overflow:hidden; margin:0 auto; background:url(../images/bottombg.jpg); background-repeat:no-repeat; background-size:cover; background-position:center;}
.contact_container h3{font-size:18px; color:#000; margin: 0; padding-bottom: 20px;text-transform: uppercase; font-weight: bold; font-weight: normal;}
.contact_container p{color:#000; text-decoration:none; line-height:28px; padding: 5px 0; margin: 0;}

	
.list-style-two{position:relative;list-style-type:none; margin:0; padding:0;}
.list-style-two li{position:relative;font-size:15px;font-weight:400;padding-left:40px;margin-bottom:10px;color:#000; line-height:36px}
.list-style-two li .icon{position:absolute;left:0px; width:25px; height:25px; color:#fff;font-size:12px;line-height:1em;text-align:center; background-color:#0c82a6; padding-top:5px; margin-top:4px; border-radius: 100%; }
.list-style-two li a{color:var(--green-color); text-decoration:none;}

.list-style-left{position:relative;list-style-type:none; margin:20px 0 0 0; padding:0;}
.list-style-left li{position:relative;font-size:15px;font-weight:400;padding-left:40px;margin-bottom:10px;color:#333; line-height:36px}
.list-style-left li .icon{position:absolute;left:0px; width:25px; height:25px; color:#fff;font-size:12px;line-height:1em;text-align:center; background-color:var(--green-color); padding-top:5px; margin-top:4px; border-radius: 100%; }
.list-style-left li a{color:var(--green-color); text-decoration:none;}

.social-icon-two{padding-top:10px;list-style-type:none; margin:20px 0; padding:0; height:auto; overflow:hidden;}
.social-icon-two li{margin-right:10px;margin-left:0px; display:inline-block;}
.social-icon-two li a{color:#0c82a6;font-size:18px;}
.social-icon-two li a:hover{color:var(--yellow-color);}

.cop{height: auto; overflow: hidden; width: 100%; padding-top: 10px; background: #0c82a6; padding: 20px 0; color:#fff; text-align: center;}
.footer-item p a{color: #000; text-decoration: none;	-webkit-transition: .5s all ease;	transition: .5s all ease; display: block;}
.footer-item p a:hover{color:#0c82a6; margin-left: 10px;transition:margin-left .5s;}
.footer-item p a:before {
    content: "\f105";
    font-family: 'FontAwesome';
    cursor: pointer;
	text-align:left;
	padding-right: 5px;
	color: #0c82a6;
}
.footer-item p a:hover:before{color:var(--yellow-color);}

.emailadd{border-radius: 30px; background: #fff; height: 50px; width: 100%; border: 0; outline: none; padding-left: 10px;}
.emailbottom{background: #0c82a6; padding: 15px 30px; border: 0; border-radius: 30px; color: #fff; outline: none; margin-top: 10px; float: right;}


/*in page css */
.banner_inpage{width:100%; min-height:460px; margin:0 auto; display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.auto-container h2{color:#FFF;text-align:center;font-size:48px;width:100%; margin:0; }
.auto-container p{text-align:center; font-size:18px; color:#FFF; padding: 10px 0;}
.auto-container p a{color: #fff; text-decoration: none;}
.auto-container p a:hover{color:var(--green-color);}
.auto-container{width:100%; margin:0 auto;}

.bread-crumb{position:relative; padding: 0; margin-top: 40px; border: 0px red solid;}
.bread-crumb li{position:relative;display:inline-block;font-size:16px;margin-right:16px;color:#333;line-height:24px;}
.bread-crumb li:last-child{margin-right:0px;}
.bread-crumb li:after{content:'\f105';font-family:'FontAwesome';position:absolute;right:-14px;width:8px;line-height:26px;font-size:14px;color:#333;}
.bread-crumb li:last-child:after{display:none;}
.bread-crumb li a{color:#333;font-weight:400;transition:all 0.3s ease;-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease; text-decoration:none;}
.bread-crumb li a:hover{color:#AB0609;}

.bread-center{text-align: left;}

.inpage_container{width:100%; height: auto; overflow: hidden;}

/*inpage right*/
.inpage_right{
	width: 98%; padding: 20px; margin-bottom: 30px; 
-webkit-box-shadow: 0 0 10px 0 #eee; box-shadow: 0 0 10px 0 #eee;
}
.inpage_right h3{font-size: 24px; font-weight: bold; color:var(--green-color);}

.titlebg h2{color: #333; text-align: left; font-weight: normal; font-size: 36px;}

.inquiry_form_public{width: 100%; margin: 0 auto 20px auto;} 
.inquiry_form_public h3{color: #333;font-size: 28px;}
.inquiry_form_public ul{list-style-type:none;list-style-position:outside;margin:0px;padding:0px;}
.inquiry_form_public li{position:relative; width:100%;display:inline-block;}
.inquiry_form_public label{width:100%;display:inline-block;text-align:left;padding:15px 0; font-size:16px; color:#000; font-weight: bold;}
.inquiry_form_public input{height:50px; width:100%; border-radius: 5px; border: 2px solid #ddd; padding-left:10px; outline:none; color:#444;}
.inquiry_form_public textarea{padding-left:10px;width:100%; outline:none; border-radius: 5px; border: 2px solid #ddd;}
.inquiry_form_public .submit{display:inline-block;text-align:center;padding:1em 3em;clear:both;color:#fff;text-decoration:none;border:0px;cursor:pointer;margin:20px 0;
	background:var(--green-color);
	float: left;
}
.inquiry_form_public .submit:hover{background:#f84949;color:#fff;transition:background-color .3s;}
.inquiry_form_public textarea{font-family:'Proxima Nova Rg', sans-serif; padding-top:10px;}


.inquiry_form{width: 100%; margin: 0 auto 20px auto;} 
.inquiry_form h3{color: #333;font-size: 28px;}
.inquiry_form ul{list-style-type:none;list-style-position:outside;margin:0px;padding:0px;}
.inquiry_form li{position:relative; width:49.5%;display:inline-block;}
.inquiry_form label{width:100%;display:inline-block;text-align:left;padding:15px 0; font-size:16px; color:#000; font-weight: bold;}
.inquiry_form input{height:50px; width:100%; border-radius: 5px; border: 2px solid #ddd; padding-left:10px; outline:none; color:#444;}
.inquiry_form textarea{padding-left:10px;width:100%; outline:none; border-radius: 5px; border: 2px solid #ddd;}
.inquiry_form .submit{display:inline-block;text-align:center;padding:1em 3em;clear:both;color:#fff;text-decoration:none;border:0px;cursor:pointer;margin:20px 0;
	background:var(--green-color);
	float: left;
}
.inquiry_form .submit:hover{background:#f84949;color:#fff;transition:background-color .3s;}
.inquiry_form textarea{font-family:'Proxima Nova Rg', sans-serif; padding-top:10px;}

.hot{position:absolute;top:3px;right:0;}
.hot:after{content: url(../images/hot.gif);margin-left:5px;}

.serviceshowpic {font-size:1em;text-align:center;line-height:1.7em !important;color:#666666; display: block;}
.serviceshowpic img {margin:auto;}
.serviceshowleftpic {float:left;margin-right:15px;text-align:center;color:#666666;display:inline-block;}
.serviceshowrightpic {float:right;margin-left:15px;text-align:center;color:#666666;display:inline-block;}
.serviceshowpic,.serviceshowrightpic,.serviceshowleftpic {font-size:1em;text-align:center;line-height:1.7em !important;}
.serviceshowpic img,.serviceshowrightpic img,.serviceshowleftpic img {display:block;max-width:100%;height:auto;margin-bottom:8px;margin-left:auto;margin-right:auto;}

ul.accordion-menu {
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 20px auto;
  /*box-shadow: 0px 0px 10px #00000070;*/
  clear: both;
  display: table;
}
ul.accordion-menu .list {
  border-bottom: 1px solid #eee;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  vertical-align: sub;
 /* background: #3e5165;*/
  clear: both;
  padding: 17px 0px 17px 25px;

}

ul.accordion-menu li {
  border-bottom: 1px solid #eee;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  vertical-align: sub;
 /* background: #3e5165;*/
  clear: both;
  padding: 17px 0px 17px 25px;

}

ul.accordion-menu li a{color: var(--grey-color);}

ul.accordion-menu .list:after {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  right: 17px;
  top: 17px;
  padding: 0px 5px;
  color:var(--grey-color);
  font-weight: bold;
}
ul.accordion-menu .list:before {
  /*content: '\f07b';*/
	content: '\f055';
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 17px;
  padding: 0px 5px;
  color:var(--grey-color);
}
ul.accordion-menu .list a {
  text-decoration: none;
  color:var(--grey-color);
  height: 100%;
  box-sizing: border-box;
}
ul.accordion-menu .list a:hover {
  /*background-color: #eee;*/
  transition: 300ms all;
  color: #c53131;
}
ul.accordion-menu .list .items {
  height: 0px;
  overflow: hidden;
}
ul.accordion-menu .list .items a {
}
ul.accordion-menu .list .items a:hover {
  /*background-color: #ccc;*/
  color: #c53131;
  transition: 300ms all;
}
ul.accordion-menu .list:last-child {
  border-bottom: none;
}
ul.accordion-menu .active:after {
  content: "\f106";
  font-family: FontAwesome;
  position: absolute;
  right: 17px;
  top: 17px;
  padding: 0px 5px;
  color:#c53131;
}
ul.accordion-menu .active:before {
  /*content: '\f07c';*/
	content: '\f056';
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 17px;
  padding: 0px 5px;
  color:#c53131;
}
ul.accordion-menu .active > .items {
  display: block;
  background: #fff;
  padding: 0px;
  height: auto;
  color:var(--green-color);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 200ms;
  clear: both;
  float: left;
  width: 100%;
	margin-top: 20px;
}
ul.accordion-menu .active > .items li {
  border-bottom: 1px solid #eee;
  list-style: none;
	padding:12px 0px 12px 0;
}
ul.accordion-menu .active > .items li:last-child {
  border-color: transparent;
  padding-bottom: 0px;
}
ul.accordion-menu .active > .items .active > .items {
  background-color: #fff;
}
ul.accordion-menu .active > a {
  color: #c53131;
  font-weight: bold;
}
ul.accordion-menu .active .list {
  background: #fff;
}
ul.accordion-menu .active .list a {
  padding: 17px 0px 17px 25px;
}

.left-adv{margin-top:30px;width:100%;background:#f7f7f7 url("../images/page-banner.jpg") no-repeat 40% center;background-size:cover;text-align: left;border-radius:0;position:relative;overflow:hidden;border:2px solid #fff;}
.left-adv .ovrly{position: absolute;left: 0;top:0;width: 100%;height: 100%;display: block;background:#000;opacity: 0.6;filter: alpha(opacity=60);transition:all .5s;}
.left-adv .main{position:relative;left:0;top:0;padding:30px 30px 40px 30px;z-index:2;text-align: left;}
.left-adv .icon{width: 60px;height:60px;margin:0;display: inline-flex;justify-content: center;align-items: center;border-radius:50%;position:relative;z-index: 3;background:#ac1a2f;}
.left-adv .icon:before{content:'';position:absolute;left:-10px;top:-10px;right:-10px;bottom:-10px;border-radius:50%;filter:alpha(opacity=2);-moz-opacity:0.2;opacity:0.2;border:1px solid #ac1a2f;z-index: -1;}
.left-adv .icon i{width:46px;height:43px;background:url(../images/icon.png) no-repeat;background-position: 0px;display: inline-block;}
.left-adv .main .title{font-size:20px;line-height:28px;color:#fff;text-transform: uppercase;margin-top:20px;margin-bottom:10px;display:block;font-family:'Roboto Bold';}
.left-adv .main .title:hover{text-decoration:none;}
.left-adv .main .text{font-size:14px;color:#fff;line-height:24px;}
.left-adv .main_more{height: 36px;line-height: 36px; width: 120px; text-align: center;background:#ac1a2f;border-color: #ac1a2f;color: #fff; display: block; margin-top: 20px;}


.featured-product {
    padding: .9rem;
    background-color: rgba(217,217,214,.2); margin-bottom: 30px;
}
.featured-product-image img{
    max-width: 100%;
}
.products_more{background: #0c82a6; color: #fff!important; text-align: center; display: block; width: 100px; margin: 0 auto; padding: 6px 0;}
.product-cart-add a{text-decoration:none;  position:relative; cursor:pointer;z-index: 999; color: #0c82a6; margin-left: 10px; float: right;}
.product-cart-add a:before{content:"\f217";font-family:FontAwesome;font-size:26px;color:#0c82a6; text-align:center; }
.product-cart{border: 0px red solid; height: 50px; line-height: 50px;}
.product-cart strong{float: left;}

.relatedproducts{background: #0c82a6; color: #fff!important;text-align: center; display: block; width: 90%; margin: 0 auto; padding: 15px 0; margin-bottom: 20px;}
.productsdeatl{background: #0c82a6; color: #fff!important;text-align: center; display: block; width: 200px;  padding: 15px 0; float: left; margin: 20px 0;}
.pay{color: #AB0609; font-weight: bold;}

.btninquiry{background: #0c82a6; color: #fff!important;text-align: center; display:inline-block; width: 150px; padding: 10px 0; margin-bottom: 20px;}
.buynow{background: #0c82a6; color: #fff!important;text-align: center; display: inline-block; width: 150px; padding: 10px 0; margin-bottom: 20px; margin-left: 20px;}
.btninquiry a, .buynow a{color: #fff;}

.buynow:before{content:"\f217";font-family:FontAwesome;font-size:18px;color:#fff; text-align:center; padding-right: 10px; }
.btninquiry:before{content:"\f27b";font-family:FontAwesome;font-size:18px;color:#fff; text-align:center; padding-right: 10px; }

.btninquiry:hover, .buynow:hover{background: #AB0609;}






.bottombg{background:url(../images/servicesbottombg.jpg); background-repeat:no-repeat; background-size:cover; background-position:center;}
.services_bottom{width: 100%; min-height: 300px; height: auto; overflow: hidden; margin-top: 40px; padding: 20px;}
.services_bottom span{color: #e60658;}
.services_bottom h3{font-size: 24px;}
.services_bottom p{ width: 80%; float: left; padding-left: 10px;}
.services_bottom i{background: #e60658; color: #fff; padding: 10px; border-radius: 100%; width: 50px; height: 50px; text-align: center; line-height: 25px; font-size: 22px; float: left; margin-top: 20px;}
.services_bottom .col-md-6{min-height: 150px;border: 0px red solid;}


.slide-item-body ul li {
	width: 100%;
	display: block;
	border: none;
	color: #000;
	z-index: 10002;  margin: 0 auto;
}

.slide-item-body ul li a {
	display: block;
}

.new-img img {
	max-width: 100%;
	height: auto;
	border: none;
	display: block; margin: 0 auto;
	border-radius: 100%;
}

.slide-item {
	width: 80%;
	position: relative;
	margin: -70px auto 0 auto; padding: 0;
}

.slide-item-box {
	padding: 50px 0 0 0; 
}

.new-body {
	padding: 20px 20px 40px 0;
}

.new-body-title {
	line-height: 24px;
	font-size: 18px;
	overflow: hidden;
	font-weight: 600; height: auto;text-align: center;
}

.new-body-text {
	line-height: 24px;
	overflow: hidden;
	height: auto; text-align: center;
}

.slide-item-body {
	/*margin-left: -70px*/
}

.slide-item-body ul li {
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 20px
}

.slide-item-body .tempWrap {
	padding-top: 20px;

}

.slide-item-body ul {
	padding-top: 10px;
	overflow: visible
}


.next {
    position: absolute;
    top: 49%;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 60px;
    -webkit-background-size: 60px;
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    right: auto;
    left: -120px;
    height: 60px;
    width: 60px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.next-bg {
    background-image: url("../images/btn-fl1.png");
}

.next:hover {
    background-image: url("../images/btn-fl2.png");
}

.prev {
    position: absolute;
    top: 49%;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 60px;
    -webkit-background-size: 60px;
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    right: -120px;
    height: 60px;
    width: 60px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.prev-bg {
	background-image: url(../images/btn-fr1.png)
}

.prev-bg:hover {
	background-image: url(../images/btn-fr2.png)
}


.pageservices p{text-align: center; color: #000;}
.pageservices img{height: 220px;}


@media (min-width: 1280px){
	.index_container{max-width:90%; margin:0 auto 0 auto; height: auto; overflow: hidden;}
	.contact_container{max-width:90%;margin:40px auto; padding:0; position:relative; height:auto; overflow:hidden;}
	.fixed{position: fixed; z-index: 999; display:inline-block;  width:100%; margin:0 auto; background-color:#fff;
		box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  	-moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  	-webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  	-o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  	-ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);}
}

@media (min-width: 1024px) and (max-width: 1280px){
	.index_container{max-width:90%; margin:0 auto 0 auto; height: auto; overflow: hidden;}
	.contact_container{max-width:90%;margin:40px auto; padding:0; position:relative; height:auto; overflow:hidden;}
	.fixed{position: fixed; z-index: 999; display:inline-block;  width:100%; margin:0 auto; background-color:#fff;}
	
}

@media (max-width: 1023px){
		.index-items .col-md-3{ position:relative; padding:0; min-height:225px; color:#fff; background-repeat:no-repeat; background-size:cover; margin: 10px; float: left; width: 100%;}

.top-header{width: 100%; height:auto; overflow: hidden; background: #0c82a6; color: #fff;}
.top-header span{color: #fff; padding-right:20px;}
.top-header a{color: #fff; text-decoration: none;}
.top-header i{padding-right: 10px;}

.auto-header{max-width:1300px; margin:0 auto;}
.nav{width:100%; background: #fff; border: 1px #fff solid;}
.logo{margin: 70px 0 0 0; border: 0px red solid; display: block; text-align: center; width: 100%; position: relative;}
.logo img{width: 278px;}
.iconright{float: right; margin-right: -40px;}
	
	.auto-header{max-width:95%; margin:0 auto;}
	.index_container{max-width:95%; margin:0 auto 0 auto; height: auto; overflow: hidden;}
	.contact_container{max-width:90%;margin:40px auto; padding:0; position:relative; height:auto; overflow:hidden;}

	.fixed{z-index: 999; display:inline-block;  width:100%; margin:0 auto; background-color:#fff;}
	.submit_search  a{border:0px red solid; width: 100%; margin-bottom: 20px;}
	#code{width:100%;height:auto;overflow:hidden;padding:10px;position:absolute;display:none;left:0;z-index:999999;text-align:center;}
	.search-input{border:0;outline:none;font-size:16px;height:46px; margin-bottom: 20px; min-width: 90%;}
	.searchtxt select{height:46px; border:0; font-size:16px; color:444; outline:none; padding:0 10px; width: 90%; margin-bottom: 20px;}
	.searchtxt .btnx{padding:15px 40px;clear:both;color:#fff;font-size:16px;text-decoration:none;background-color:var(--green-color);border:0px;outline:none; cursor: pointer; width: 90%;}
	.searchtxt .btnx:hover {color:#FFF; transition: background-color .3s; background:#f84949;}
	.sit_section{width: 90%; height: auto; overflow: hidden;  margin:-120px auto 0 auto; background: #fff; position: relative; 
	-webkit-transition: color .2s ease;
  	-moz-transition: color .2s ease;
  	-ms-transition: color .2s ease;
  	-o-transition: color .2s ease;
  	transition: color .2s ease;
	box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  	-moz-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  	-webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  	-o-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  	-ms-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
	}
	
	.row-4{ min-height:1px; width:100%;vertical-align:top;}
	.hvr-float{margin: 0 auto; text-align: center; display: block;}
	
	.auto-container{width:95%; margin:0 auto;}
	.inquiry_form li{position:relative; width:100%;display:inline-block;}
	
	.pageservices img{width: 100%; height: 100%;}
	.emailbottom{background: #0c82a6; padding: 15px 30px; border: 0; border-radius: 30px; color: #fff; outline: none; margin-top: 10px; float: left;}
.contact_container h3{font-size:18px; color:#000; margin: 0; padding-bottom: 20px; padding-top: 20px; text-transform: uppercase; font-weight: bold; font-weight: normal;}
	.banner_inpage{min-height: 350px;}
}