@import url('font-awesome.css');
@import url('bootstrap.css');
@charset "utf-8";

@font-face {
	font-family: 'Poppins-Bold';
	src: url('../fonts/Poppins-Bold.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/Poppins-Bold.eot?#iefix') format('Lato-Regular'),
		/* IE6-IE8 */
	url('../fonts/Poppins-Bold.woff') format('woff'),
	url('../fonts/Poppins-Bold.woff2') format('woff2'),
		/* Modern Browsers */
	url('../fonts/Poppins-Bold.ttf') format('truetype'),
		/* Safari, Android, iOS */
	url('../fonts/Poppins-Bold.svg#Lato-Regular') format('svg');
	/* Legacy iOS */
}
@font-face {
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/Poppins-Regular.eot?#iefix') format('Lato-Regular'),
		/* IE6-IE8 */
	url('../fonts/Poppins-Regular.woff') format('woff'),
	url('../fonts/Poppins-Regular.woff2') format('woff2'),
		/* Modern Browsers */
	url('../fonts/Poppins-Regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
	url('../fonts/Poppins-Regular.svg#Lato-Regular') format('svg');
	/* Legacy iOS */
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('Lato-Regular'),
		/* IE6-IE8 */
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.woff2') format('woff2'),
		/* Modern Browsers */
	url('../fonts/Roboto-Regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
	url('../fonts/Roboto-Regular.svg#Lato-Regular') format('svg');
	/* Legacy iOS */
}
.h2-box-center::after {
	content: "";
	width: 100px;
	height: 3px;
	background: #1a386e;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -50px;
}
.h2-box-center {
	display: block;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin-top: 0;
	padding-bottom: 20px;
	position: relative;
}
.text-center {
	text-align: center;
	vertical-align: middle;
}
.scrolltopcontrol {
	width: 50px;
	height: 50px;
	background-color: #001F5F;
}

.scrolltopcontrol:before {
	content: "\f077";
	font-family: 'FontAwesome';
	display: none;
	cursor: pointer;
	color: #fff;
	display: block;
	text-align: center;
	padding-top: 8px;
}

ul,
li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

a:hover {
	color: #001F5F;
	transition: color .3s;
}

a {
	color: #001F5F;
	text-decoration: none;
}

h1,
h2{
	font-family: "Montserrat";
}

h3,
h4,
h5,
h6 {
	font-family: "lato";
	font-weight: bold;
}

p {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 15px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'lato', sans-serif;
	background-position: top center;
	background-repeat: no-repeat;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	-webkit-text-size-adjust: none;
	color: #444;
	letter-spacing: 0.1px;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

sub,
sup {
	position: relative;
	font-size: 50%;
	line-height: 0;
}

.clear {
	clear: both;
}

/***==================== nav Css style begin========***/

#cssmenu {
	margin: 0 auto;
	width: 745px;
}

#cssmenu>ul>li {
	padding: 0;
	margin: 0;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

#cssmenu ul ul,
#cssmenu ul ul ul{
	box-shadow: 1px 1px 1px #eee;
}
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 199;
	background:rgba(126,126,126,0.3);
}

#cssmenu:after,
#cssmenu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#cssmenu #menu-button {
	display: none;
}

#menu-line {
	position: absolute;
	top: 0;
	left: 0;
}

#cssmenu>ul>li {
	float: left;
	padding-right: 25px;
	background:none;
}

#cssmenu.align-center>ul {
	font-size: 0;
}

#cssmenu.align-center>ul>li {
	display: inline-block;
	float: none;
}

#cssmenu.align-center ul ul {
	text-align: left;
}

#cssmenu.align-right>ul>li {
	float: right;
}

#cssmenu.align-right ul ul {
	text-align: right;
}

#cssmenu>ul>li>a {
	padding: 2.4em 1em;
	text-decoration: none;
	color: #fff;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	background:none;
}

#cssmenu>ul>li:hover>a {
	background:rgba(218, 217, 217,1);
	color: #001F5F;
	border-top: 4px solid #001F5F;
}

#cssmenu>ul>li.has-sub>a {
	padding-right: 35px;
}

#cssmenu>ul>li.has-sub>a::after {
	position: absolute;
	top: 55px;
	right: 12px;
	width: 4px;
	height: 4px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	content: "";
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
	border-color: #fff;
}

#cssmenu>ul>li.has-sub:hover>a::after {
	border-color: #fff;
}

#cssmenu>ul>li.has-sub.active>a::after {
	border-color: #fff;
}

#cssmenu ul ul {
	position: absolute;
	left: -9999px;
}

#cssmenu li:hover>ul {
	left: auto;
}

#cssmenu.align-right li:hover>ul {
	right: 0;
}

#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}

#cssmenu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}

#cssmenu ul ul li {
	height: 0;
	-webkit-transition: height .2s ease;
	-moz-transition: height .2s ease;
	-ms-transition: height .2s ease;
	-o-transition: height .2s ease;
	transition: height .2s ease;
}

#cssmenu ul li:hover>ul>li {
	height: auto;
	background: #fff;
}

@media (min-width: 1025px) {
	#cssmenu ul .dropdown-toggle li a {
		padding: 10px 15px;
		width: 385px;
	}
}

#cssmenu ul ul li a {
	padding: 12px 15px;
	width: 300px;
	line-height: 20px;
	text-decoration: none;
	color: #2c343b;
	font-size: 15px;
	font-weight: 400;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
	/*background: #fff;*/
	color: #001F5F;
}

#cssmenu ul ul li.has-sub>a::after {
	position: absolute;
	top: 16px;
	right: 10px;
	width: 4px;
	height: 4px;
	border-bottom: 2px solid #2c343b;
	border-right: 2px solid #2c343b;
	content: "";
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
	border-color: #2c343b;
}

#cssmenu.align-right ul ul li.has-sub>a::after {
	right: auto;
	left: 10px;
	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}

#cssmenu ul ul li.has-sub:hover>a::after {
	border-color: #001F5F;
}

@media all and (max-width: 1024px)

	/*,
    only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px),
    only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px),
    only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px),
    only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
    only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px)*/
{
	#cssmenu {
		width: 100%;
		background: #001F5F;
		margin: 100px 0 0 0;
	}

	#cssmenu ul {
		width: 100%;
		display: none;
	}

	#cssmenu.align-center>ul,
	#cssmenu.align-right ul ul {
		text-align: left;
	}

	#cssmenu ul li,
	#cssmenu ul ul li,
	#cssmenu ul li:hover>ul>li {
		width: 100%;
		height: auto;
		border-top: 1px solid rgba(120, 120, 120, 0.15);
	}

	#cssmenu ul li a,
	#cssmenu ul ul li a {
		width: 100%;
		color: #243238;
		background: #fff;
	}

	#cssmenu>ul>li>a {
		padding: 10px 20px !important;
	}

	#cssmenu>ul>li,
	#cssmenu.align-center>ul>li,
	#cssmenu.align-right>ul>li {
		float: none;
		display: block;
	}

	#cssmenu ul ul li a {
		padding: 10px 20px 10px 30px;
		width: 100%;
		font-size: 16px;
		color: #243238;
		background: #fff;
	}

	.fixed #cssmenu ul li:hover>a,
	.fixed #cssmenu ul li a:hover,
	#cssmenu ul li:hover>a,
	#cssmenu ul li a:hover,
	#cssmenu ul ul li:hover>a,
	#cssmenu ul ul li a:hover {
		color: #001F5F;
		border: 0;
		background: #fff;
	}

	#cssmenu ul ul ul li a {
		padding-left: 40px;
	}

	#cssmenu ul ul,
	#cssmenu ul ul ul {
		position: relative;
		left: 0;
		right: auto;
		width: 100%;
		margin: 0;
	}

	#cssmenu>ul>li.has-sub>a::after,
	#cssmenu ul ul li.has-sub>a::after {
		display: none;
	}

	#menu-line {
		display: none;
	}

	#cssmenu #menu-button {
		display: block;
		padding: 15px 20px;
		color: #fff;
		cursor: pointer;
		font-size: 20px;
	}

	#cssmenu #menu-button::after {
		content: '';
		position: absolute;
		top: 24px;
		right: 20px;
		display: block;
		width: 15px;
		height: 2px;
		background: #fff;
	}

	#cssmenu #menu-button::before {
		content: '';
		position: absolute;
		top: 29px;
		right: 20px;
		display: block;
		width: 15px;
		height: 3px;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}

	#cssmenu .submenu-button {
		position: absolute;
		z-index: 299;
		right: 0;
		top: 0;
		display: block;
		border-left: 1px solid rgba(120, 120, 120, 0.36);
		height: 52px;
		width: 52px;
		cursor: pointer;
	}

	#cssmenu .submenu-button::after {
		content: '';
		position: absolute;
		top: 21px;
		left: 26px;
		display: block;
		width: 1px;
		height: 11px;
		background: #243238;
		z-index: 99;
	}

	#cssmenu .submenu-button::before {
		content: '';
		position: absolute;
		left: 21px;
		top: 26px;
		display: block;
		width: 11px;
		height: 1px;
		background: #001F5F;
		z-index: 99;
	}

	#cssmenu .submenu-button.submenu-opened:after {
		display: none;
	}
}


/***==================== nav Css style end========***/

/*banner-css*/
.banner {
	position: relative;
	width: 100%;
	height: 750px;
	background-color: #fff;
	overflow: hidden;
}

.banner ul.flicks {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
	width: 10000%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.banner ul.flicks>li {
	float: left;
	width: 1%;
	height: 100%;
	background-position: center;
	background-size: cover;
	display: table;
}

.banner ul.flicks>li .flick-inner {
	height: 100%;
	color: #243238;
	display: table-cell;
	vertical-align: middle;
}

.banner ul.flicks>li .flick-inner .flick-content {
	max-width: 720px;
	padding: 40px 50px 60px 50px;
	background-color: rgba(0, 0, 0, 0.2);
	margin-left: auto;
	margin-right: auto;
}

.banner ul.flicks>li .flick-inner .flick-content h1 {
	color: #243238;
	text-align: center;
	font-size: 56px;
	line-height: 56px;
	width: 100%;
	font-weight: normal;
}

.banner ul.flicks>li .flick-inner .flick-content p {
	color: #243238;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	width: 100%;
}

.banner-page .btn {
	padding: 0.4em 2em;
	clear: both;
	color: #243238;
	background: none;
	border: 2px solid #001F5F;
	text-decoration: none;
	font-size: 18px;
	margin-top: 10px;
	display: inline-block;
	word-spacing: 0.1px;
	letter-spacing: 0.5px;
}

.banner-page .btn:hover {
	color: #fff;
	border: 2px solid #001F5F;
	font-weight: bold;
	transition: background-color .3s;
	background: #001F5F;
}

.banner .arrow-navigation {
	position: absolute;
	height: 80%;
	width: 5%;
	top: 10%;
	z-index: 1000;
	overflow: hidden;
}

.banner .arrow-navigation .arrow {
	display: block;
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.banner .arrow-navigation .arrow:before {
	cursor: pointer;
	content: "";
	color: #444;
}

.banner .arrow-navigation:hover,
.banner .arrow-navigation .arrow:hover {
	cursor: pointer;
}

.banner .arrow-navigation.left {
	left: 0%;
}

.banner .arrow-navigation.left .arrow {
	opacity: 0;
	margin: 0px 0px 0px 50%;
	background-image: url("../images/arrow-left-light.png");
	background-repeat: no-repeat;
	background-position: left
}

.banner .arrow-navigation.right {
	right: 0%
}

.banner .arrow-navigation.right .arrow {
	opacity: 0;
	margin: 0px 0px 0px -50%;
	background-image: url("../images/arrow-right-light.png");
	background-repeat: no-repeat;
	background-position: right
}

.banner .arrow-navigation.left.hover .arrow {
	opacity: 1;
	margin: 0px 0px 0px 0px;
}

.banner .arrow-navigation.right.hover .arrow {
	opacity: 1;
	margin: 0px 0px 0px 0px;
}

.banner .dot-navigation {
	position: absolute;
	bottom: 25px;
	width: 100%;
	text-align: center;
	z-index: 1000;
}

.banner .dot-navigation ul {
	text-align: center;
	list-style: none;
	padding: 0px 15px;
}

.banner .dot-navigation ul li {
	display: inline-block;
	float: none
}

.banner .dot-navigation .dot {
	width: 14px;
	height: 14px;
	margin: 0px 6px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	-ms-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out
}

.banner .dot-navigation .dot:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5);
}

.banner .dot-navigation .dot.active {
	background-color: #001F5F;
}

.banner.animate-transform-slide ul.flicks {
	-webkit-perspective: 1000px;
	-webkit-backface-visibility: hidden;
	transform: translate3d(0%, 0px, 0px);
	-webkit-transform: translate3d(0%, 0px, 0px);
	-webkit-transition: -webkit-transform 0.6s;
	-o-transition: -o-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	transition: transform 0.6s
}

.banner.animate-transition-slide ul.flicks {
	left: 0%;
	-webkit-transition: left 0.4s ease-out;
	-moz-transition: left 0.4s ease-out;
	-o-transition: left 0.4s ease-out;
	-ms-transition: left 0.4s ease-out;
	transition: left 0.4s ease-out
}

.banner_inpage {
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 390px;
}

.banner-table {
	width: 100%;
	display: table;
	height: 100%;
}

.banner-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.auto-container h1 {
	color: #fff;
	text-align: center;
	font-size: 48px;
	line-height: 56px;
	margin: 0;
}

.auto-container p {
	font-size: 28px;
	line-height: 40px;
}

@media (min-width: 1025px) and (max-width: 1280px){
	.banner ul.flicks>li .flick-inner .flick-content {
		padding: 50px 40px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.banner {
		height: 640px;
	}
	.banner ul.flicks>li .flick-inner .flick-content {
		padding: 5px 20px 30px 20px;
	}

	.banner ul.flicks>li .flick-inner .flick-content {
		max-width: 80%;
	}

	.auto-container h1,
	.banner ul.flicks>li .flick-inner .flick-content h1 {
		font-size: 36px;
		line-height: 40px;
	}

	.banner ul.flicks>li .flick-inner .flick-content p {
		line-height: 26px;
		font-size: 1em;
	}
}

@media (max-width: 768px) {
	.banner {
		height: 520px;
	}
	.banner ul.flicks>li .flick-inner .flick-content {
		padding: 5px 20px 20px 20px;
	}

	.banner ul.flicks>li .flick-inner .flick-content {
		max-width: 90%;
	}

	.auto-container h1,
	.banner ul.flicks>li .flick-inner .flick-content h1 {
		font-size: 32px;
		line-height: 36px;
	}

	.banner ul.flicks>li .flick-inner .flick-content p {
		line-height: 24px;
		font-size: 0.9em;
	}

}

@media (max-width: 550px) {
	.banner_inpage {
		height: 300px;
	}
	.banner-page .btn {
		font-size: 14px;
		margin-top: 0px;
	}
	.auto-container h1,
	.banner ul.flicks>li .flick-inner .flick-content h1 {
		font-size: 24px;
		line-height: 28px;
	}
}

/***==================================================================== Table Css style ====================================================================***/

table {
	border-collapse: collapse;
	margin: 0.6em 0;
	width: 100%;
	border: 1px solid #ddd;
}

table tr,
table th,
table td {
	border: none;
	border-bottom: 1px solid #ddd;
}

table th,
table td {
	padding: 10px 12px;
	text-align: left;
	line-height: 26px;
}

table th {
	background: #001F5F;
	color: #fff;
}

table tr td {
	background: #fff;
	color: #444;
}

table tr td a {
	color: #001F5F;
	text-decoration: none;
}

table tr:nth-of-type(2n+2) td {
	background: #f9f9f9;
}
table tr:nth-child(odd)>td
{
	background: rgba(222,234,246,1);
}
table tr:nth-child(even)>td
{
	background: rgba(251,228,213,1);
}
table.bt tfoot th,
table.bt tfoot td,
table.bt tbody td {
	font-size: .875rem;
	padding: 0;
}

table.bt tfoot th:before,
table.bt tfoot td:before,
table.bt tbody td:before {
	padding: 10px;
}

table.bt tfoot th .bt-content,
table.bt tfoot td .bt-content,
table.bt tbody td .bt-content {
	display: inline-block;
	padding: 2px 5px;
}

table.bt tfoot th:first-of-type:before,
table.bt tfoot th:first-of-type .bt-content,
table.bt tfoot td:first-of-type:before,
table.bt tfoot td:first-of-type .bt-content,
table.bt tbody td:first-of-type:before,
table.bt tbody td:first-of-type .bt-content {
	padding-top: 10px;
}

table.bt tfoot th:last-of-type:before,
table.bt tfoot th:last-of-type .bt-content,
table.bt tfoot td:last-of-type:before,
table.bt tfoot td:last-of-type .bt-content,
table.bt tbody td:last-of-type:before,
table.bt tbody td:last-of-type .bt-content {
	padding-bottom: 10px;
}


table.bt thead,
table.bt tbody th {
	display: none;
}

table.bt tfoot th,
table.bt tfoot td,
table.bt tbody td {
	border: none;
	display: block;
	vertical-align: top;
}

table.bt tfoot th:before,
table.bt tfoot td:before,
table.bt tbody td:before {
	content: attr(data-th) ": ";
	font-weight: bold;
	width: 30%;
	display: inline-block;
}

table.bt tfoot th.bt-hide,
table.bt tfoot td.bt-hide,
table.bt tbody td.bt-hide {
	display: none;
}

table.bt tfoot th .bt-content,
table.bt tfoot td .bt-content,
table.bt tbody td .bt-content {
	vertical-align: top;
	width: 55%;
	display: inline-block;
	padding-top: 10px;
}

.inquiry_btn {
	padding: 0.3em 0.8em;
	clear: both;
	color: #444;
	background-color: #beddea;
	text-decoration: none;
	border-radius: 10px 0 10px 0;
	font-size: 14px;
	display: inline-block;
}

.inquiry_btn:hover {
	color: #444;
	transition: background-color .3s;
	border-radius: 10px 0 10px 0;
	background: #001F5F;
}

.pro_btn{
	padding: 8px 22px;
	background-color: #001F5F;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	float: right;
}

.pro_btn:hover{
	background-color: #001F5F;
	color: #fff;
}

@media (max-width: 991px) {
	.pro_btn{
		float: left;
		margin: 15px 0;
	}
}

.pagenav {
	text-align: right;
	font-size: 14px;
	text-decoration: none;
	margin: 10px 0 40px 0;
	height: auto;
	overflow: hidden;
	padding: 10px;
}

.pagenav .cpb{
	padding: 5px 10px;
	margin-right: 0;
	border-radius: 5px;
	color: #001F5F;
	background: #F2F2F2;
}

.pagenav a {
	margin-left: 5px;
	margin-right:5px;
	color: #444;
	text-decoration: none;
	/* border: 1px #d3d3d3 solid; */
	padding: 5px 10px;
	border-radius: 5px;
}

.pagenav a:hover {
	color: #001F5F;
	text-decoration: none;
	background: #F2F2F2;
	/* border: 1px #f90 solid; */
}

.successinfo {
	padding-left: 15px;
	line-height: 30px;
	line-height: 22px;
	color: #888888;
	padding-right: 20px;
	padding-bottom: 20px;
}

.successinfo .iconarea {}

.successinfo .iconarea .iconunit {
	text-align: center;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: #001F5F;
	color: #ffffff;
	line-height: 40px;
	font-weight: bolder;
	font-size: 22px;
	position: relative;
	z-index: 9;
}

.successinfo .tit {
	font-size: 20px;
	font-weight: bold;
	color: #001F5F;
	display: block;
}

.successinfo .iconarea .iconunit img {
	top: 10px;
	left: 5px;
	position: absolute;
	z-index: 10;
}

.bread-crumb {
	position: relative;
	font-size: 14px;
	padding-bottom: 40px;
}

.bread-crumb li {
	position: relative;
	display: inline-block;
	font-size: 0.9em;
	margin-right: 24px;
	color: #243238;
	line-height: 30px;
}

.bread-crumb li .fa {
	font-size: 18px;
}

.bread-crumb li:last-child {
	margin-right: 0px;
}

.bread-crumb li:after {
	content: '\f105';
	font-family: 'FontAwesome';
	position: absolute;
	right: -20px;
	top: 2px;
	width: 10px;
	line-height: 26px;
	font-size: 14px;
	color: #666;
}

.bread-crumb li:last-child:after {
	display: none;
}

.bread-crumb li a {
	color: #666;
	font-weight: 400;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	text-decoration: none;
}

.bread-crumb li a:hover {
	color: #001F5F;
}

h3 {
	margin: 0;
	padding: 10px 0 10px 0;
}

h4 {
	font-size: 1.1em;
	margin: 0;
	padding: 10px 0 8px 0;
}

.ServiceShowPic {
	font-size: 0.85em;
	text-align: center;
	line-height: 1.7em !important;
	color: #666666;
}

.ServiceShowPic img {
	margin: auto;
}

.ServiceShowleftPic {
	float: left;
	margin-right: 20px !important;
	padding-bottom: 5px !important;
	text-align: center;
	color: #666666;
	display: inline-block;
}

.ServiceShowrightPic {
	float: right;
	margin-left: 20px !important;
	padding-bottom: 5px !important;
	text-align: center;
	color: #666666;
	display: inline-block;
}

.ServiceShowPic,
.ServiceShowrightPic,
.ServiceShowleftPic {
	font-size: 0.85em;
	text-align: center !important;
	line-height: 1.7em !important;
}

.ServiceShowPic img,
.ServiceShowrightPic img,
.ServiceShowleftPic img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
}

.rowthbox{
	background:#fff;
	padding:1.5em 0;
	height:auto;
	position:relative;
	margin: 40px auto;
	text-align: center;
}

.rowthbox .rowthbox-li{
	background:#fff;
	height:100%;
	z-index:-1;
	position:absolute;
	top:0px;
	left:-360px;
	width:1920px;
}

.textcenter{
	text-align: center;
}
.ullist {
	padding: 0px 0px 0 19px;
	margin: 0px;
	margin-left: 15px;
}

.ollist {
	padding: 0px 0px 10px 19px;
	margin: 0px;
}

.ullist>li {
	list-style: disc !important;
}
.ullist>.ullist
{
	padding-left: 0;
}
.ullist>.ullist>li
{
	list-style: none !important;
	padding-left: 16px;
	position: relative;
}
.ullist>.ullist>li::before
{
	position: absolute;
	content: '○';
	font-size:0.1em;
	left: 0;
}
.ollist>li {
	list-style: decimal !important;
}
.ollist>li,
.ullist>li {
	/*	line-height: 28px;*/
	text-align: left;
}

.reference {
	padding-bottom: 0px;
	color: #888888 !important;
}

.ollist.reference-ol li {
	list-style: decimal;
	font-size: 14px !important;
	line-height: 22px !important;
	color: #888888 !important;
	padding-bottom: 4px !important;
}

.container-row-a {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container-row-a li {
	margin-bottom: 10px;
	break-inside: avoid;
	padding: 8px;
	background: #f9f9f9;
}

.container-row-a li span {
	display: inline-block;
	float: left;
	padding-left: 5px;
	line-height: 26px;
	padding-right: 5px;
}

.container-row-a li a {
	color: #444;
	display: inline-block;
	float: left;
	max-width: 90%;
	line-height: 26px;
}

.container-row-a li:hover {
	background: #001F5F;
	color: #fff;
}

.container-row-a li:hover a,
.container-row-a li:hover span {
	color: #fff;
}

@media (min-width: 1024px) {
	.container-row-a {
		column-count: 2;
		column-width: 50%;
		column-gap: 20px;
	}
	.container-row-a.pro-three{
		column-count: 3;
		column-width: 33%;
		column-gap: 20px;
	}
}

@media (max-width: 1023px) {
	.container-row-a {
		column-count: 1;
		column-width: 100%;
		column-gap: 0;
	}
}

.tablecontentshow {
	margin: auto auto 15px auto;
}

@media (min-width: 769px) and (max-width: 1279px) {
	.ServiceShowleftPic,
	.ServiceShowrightPic {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}

	.ServiceShowleftPic img,
	.ServiceShowrightPic img {
		margin-bottom: 15px;
	}

	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
}

@media (max-width: 768px) {
	.ServiceShowleftPic,
	.ServiceShowrightPic {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}

	.ServiceShowleftPic img,
	.ServiceShowrightPic img {
		margin-bottom: 15px;
	}

	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	.table-responsive table {
		width: 690px;
	}

	.table-responsive .tableimgshow tr,
	.table-responsive .tableimgshow th,
	.table-responsive .tableimgshow td {
		padding: 5px 0;
		text-align: left;
		background: #fff;
	}
}

/*--------------404 page begin--------------*/
.E404 img {
	display: block;
	max-width: 100%;
	height: auto;
}

.E404 {
	width: 510px;
	margin: 70px auto auto auto;
	border: 0px solid #ff0000;
}

.E404 .Etit {
	font-size: 25px;
	line-height: 35px;
	color: #525151;
}

.E404 .content {
	color: #767676;
}

.E404 a {
	color: #525151;
	text-decoration: none;
}

.E404 .btn {
	border: 1px solid #dddddd;
	padding: 5px 10px 5px 10px;
	/* border-radius: 5px; */
	margin-right: 10px;
	background-color: #efefef;
}

.E404 .btn:hover {
	background-color: #001F5F;
	color: #444;
}

@media only screen and (max-width: 1024px) {
	.E404 {
		width: 90%;
		margin: 0px auto auto auto;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/*--------------404 page end--------------*/
/*.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 5px 0;
}*/
.pagination .page-first:before,.pagination .page-last:before,.pagination .page-prev:before,.pagination .page-next:before
{
	position: relative;
	font-family: FontAwesome;
}
.pagination .page-first:before
{
	content: '\f049';
}
.pagination .page-last:before
{
	content: '\f050';
}
.pagination .page-prev:before
{
	content:"\f04a";
}
.pagination .page-next:before
{
	content: '\f04e';
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 10px 0;
	border-radius: 4px;
}
.pagination > li {
	display: inline;
	margin-left: 0;
}
.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #337ab7;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	z-index: 2;
	color: #23527c;
	background-color: #eeeeee;
	border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	z-index: 3;
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
	cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #777777;
	background-color: #fff;
	border-color: #ddd;
	cursor: not-allowed;
}
/*******************************************breadcrumb***************************************************/
.breadcrumb {
	list-style: none;
	margin-top: 10px;
}

@media screen and (max-width: 1080px) {
	.breadcrumb {
		padding: 2px 0;
	}
}

@media screen and (min-width: 1081px) {
	.breadcrumb {
		padding: 8px 0;
	}
}
.breadcrumb > li {
	display: inline-block;
}
.breadcrumb > li + li:before {
	padding: 0 5px;
/*	color: rgb(255, 255, 255);*/
	content: "/\00a0";
}
.breadcrumb > .active {
	color:rgba(61,61,61,1);
}
.breadcrumb > li>a
{
	color:var(--purple-color);
}
.breadcrumb > li>a:hover
{
	color:var(--yellowColor);
}
.breadcrumb > li:last-child>a
{
	color:rgba(61,61,61,1);
}
/*******************************************breadcrumb***************************************************/